<template>
  <q-page class="q-pa-lg">
<h4 class="q-mt-none q-mb-md text-weight-bold">About Twitter</h4>
<div class="text-body1">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, temporibus laudantium voluptatibus debitis quaerat ipsum, velit numquam porro magnam consectetur facilis repellendus, veritatis excepturi quidem voluptatem corporis hic delectus eaque?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, temporibus laudantium voluptatibus debitis quaerat ipsum, velit numquam porro magnam consectetur facilis repellendus, veritatis excepturi quidem voluptatem corporis hic delectus eaque?</p>
</div>
</q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageAbout'
})
</script>
