<!-- eslint-disable vue/no-deprecated-filter -->
<template>
  <q-page>
    <div class="q-py-lg q-px-md row items-end q-col-gutter-md">
      <div class="col">
 <q-input bottom-slots v-model="newQweetContent" placeholder="What's happening?" counter maxlength="280" autogrow class="new-qweet">
        <template v-slot:before>
          <q-avatar size="xl">
            <img src="https://cdn.quasar.dev/img/avatar2.jpg">
          </q-avatar>
        </template>

      </q-input>
      </div>
      <div class="col col-shrink">
          <q-btn @click="addNewQweet" :disable="!newQweetContent" color="primary" label="Tweet" rounded unelevated no-caps class="q-mb-lg" />

      </div>

    </div>
    <q-separator size="10px" color="grey-2" class="divider"/>
    <q-list separator>
      <transition-group appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <q-item v-for="qweet in qweets" :key="qweet.date" class="q-py-md">
        <q-item-section avatar top>
          <q-avatar size="xl">
            <img src="https://cdn.quasar.dev/img/avatar2.jpg">
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label class="text-subtitle1"><strong>Megan Fox</strong><span class="text-grey-7"> @Megan__Fox</span></q-item-label>
          <q-item-label class="qweet-content text-body1">{{ qweet.content }}
          </q-item-label>
          <div class="qweet-icons row justify-between q-mt-sm">
            <q-btn color="grey" icon="far fa-comment" size="sm" flat round/>
            <q-btn color="grey" icon="fas fa-retweet" size="sm" flat round/>
            <q-btn color="grey" icon="far fa-heart" size="sm" flat round/>
            <q-btn @click="deleteQweet(qweet)" color="grey" icon="fas fa-trash" size="sm" flat round/>
          </div>
        </q-item-section>

        <q-item-section side top>
          <!-- // relativeDate avec filters ne fonctionne pas // -->
          <!-- {{ qweet.date }} -->
        </q-item-section>
      </q-item>
      </transition-group>
    </q-list>
      </q-page>
</template>
<style lang="sass">
.new-qweet
  textarea
    font-size: 19px
    line-height: 1.4 !important
.divider
 border-top: 1px solid
 border-bottom: 1px solid
 border-color: $grey-4
.qweet-content
  white-space: pre-line
.qweet-icons
  margin-left: -5px
</style>

<script>
import { defineComponent } from 'vue'
import { formatDistance } from 'date-fns'

export default defineComponent({
  name: 'PageHome',
  data () {
    return {
      newQweetContent: '',
      qweets: [
        {
          content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elitAmet sed rem delectus fuga, vel iure nihil officia consequatur, quos corrupti,libero veritatis dolorem soluta aliquid voluptates odit vero. Omnis, cupiditate.',
          date: 1671489887597
        },
        {
          content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elitAmet sed rem delectus fuga, vel iure nihil officia consequatur, quos corrupti,libero veritatis dolorem soluta aliquid voluptates odit vero. Omnis, cupiditate.',
          date: 1671489934789
        }
      ]
    }
  },
  methods: {
    addNewQweet () {
      // console.log('addNewQweet')
      const newQweet = {
        content: this.newQweetContent,
        date: Date.now()
      }
      this.qweets.unshift(newQweet)
      this.newQweetContent = ''
    },
    deleteQweet (qweet) {
      console.log('Delete qweet: ', qweet)
      const dateToDelete = qweet.date
      const index = this.qweets.findIndex(qweet => qweet.date === dateToDelete)
      this.qweets.splice(index, 1)
    }
  },
  filters: {
    relativeDate (value) {
      return formatDistance(value, new Date())
    }
  }
})
</script>
